{% extends 'base.html' %}

{% block content %}
<hr>
<img src="{{ user.avatar(60) }}">
<h1>User: {{ user.username }}</h1>
<h4>Email: {{ user.email }}</h4>
<p>{{user.followers.count() }} followers, {{user.followed.count() }} following.</p>
{% if user.last_seen %}
<p>Last seen: {{ user.last_seen.strftime("%b %d, %Y at %H:%M:%S") }}</p>
{% endif %}


{% if user != current_user %}
    {% if current_user.is_following(user) %}
        <p>
            <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
        </p>
    {% else %}
        <p>
            <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
        </p>
    {% endif %}
{% endif %}

<h4>Predict if you look more like a dog or a cat!</h4>
<form action="" method="post" novalidate>
    {{ avatar_form.csrf_token }}
    <p>
        {{ avatar_form.submit() }}
    </p>
</form>

{% endblock %}